<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="JSX Editor"
            extensions="jsx"
            icon="icons/jsx_editor.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="net.vvakame.ide.jsx.editors.JsxEditor"
            id="net.vvakame.ide.jsx.editors.JsxEditor">
      </editor>
   </extension>

</plugin>
