<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="JSX Editor"
            extensions="jsx"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="net.vvakame.ide.jsx.editors.JsxEditor"
            id="jsx_plugin_for_eclipse.editors.JsxEditor">
      </editor>
      <editor
            name="XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="net.vvakame.ide.jsx.editors.XmlEditor"
            id="jsx_plugin_for_eclipse.editors.XmlEditor">
      </editor>
   </extension>

</plugin>
