<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>
	<extension
		id="jsxnature"
		name="JSX Nature"
		point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="net.vvakame.ide.jsx.editors.JsxNature">
			</run>
		</runtime>
		<builder
			id="net.vvakame.jsx.eclipse.plugin.core.jsxbuilder">
		</builder>
	</extension>
   <extension
		point="org.eclipse.ui.editors">
		<editor
			id="net.vvakame.jsx.eclipse.plugin.core.jsxbuilder"
			name="JSX Editor"
			extensions="jsx"
			icon="icons/jsx_editor.gif"
			contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
			class="net.vvakame.ide.jsx.editors.JsxEditor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<category
			id="net.vvakame.jsx.eclipse.plugin.core.category.source"
			name="SourceCategory">
		</category>
		<command
			categoryId="net.vvakame.jsx.eclipse.plugin.core.category.source"
			id="net.vvakame.jsx.eclipse.plugin.core.format"
			name="FormatCommand">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="net.vvakame.ide.jsx.editors.JsxFormatHandler"
			commandId="net.vvakame.jsx.eclipse.plugin.core.format">
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.bindings">
		<key
            commandId="net.vvakame.jsx.eclipse.plugin.core.format"
			contextId="org.eclipse.ui.contexts.window"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M2+F">
		</key>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			allPopups="false"
			locationURI="popup:#TextEditorContext?after=additions">
			<menu
				label="Source">
				<command
					commandId="net.vvakame.jsx.eclipse.plugin.core.format"
					label="Format"
					style="push">
				</command>
			</menu>
		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			id="net.vvakame.jsx.eclipse.plugin.core.editorpreference"
			class="net.vvakame.ide.jsx.editors.preference.JsxEditorPreferencePage"
			name="JSX">
		</page>
	</extension>
	<extension
		id="jsxbuilder"
		name="JSX Builder"
		point="org.eclipse.core.resources.builders">
		<builder
			hasNature="true">
			<run
				class="net.vvakame.ide.jsx.editors.JsxBuilder">
			</run>
		</builder>
	</extension>
	<extension
		point="org.eclipse.ui.propertyPages">
		<page
			id="net.vvakame.jsx.eclipse.plugin.core.workbenchproperty"
			class="net.vvakame.ide.jsx.editors.preference.JsxWorkbenchPropertyPage"
			name="JSX Editor" />
	</extension>
 <extension
       point="org.eclipse.ui.decorators">
    <decorator
          id="net.vvakame.jsx.eclipse.plugin.core.projectdecorator"
          icon="icons/project_decorator.gif"
          label="JSX Project Decorator"
          location="TOP_LEFT"
          state="true">
       <description>
          project is added JSX nature.
       </description>
       <enablement>
          <and>
             <objectClass
                   name="org.eclipse.core.resources.IProject">
             </objectClass>
             <objectState
                   name="projectNature"
                   value="net.vvakame.jsx.eclipse.plugin.core.jsxnature">
             </objectState>
          </and>
       </enablement>
    </decorator>
 </extension>
</plugin>
